/* 
    item.css
    Created on : 2015/08/25, 14:39:08
    Author     : kensuke
*/
@media only screen and (max-width:479px){ 
    .post{padding:0 10px!important;}

}
h2.post-title a, h1.post-title a, h2.post-title, h1.post-title {
    color:#383838;
    font-size:29px;
    font-weight:700;
    padding-left: 20px;
}

.post-info {
    text-align:center;
}
